.app-wrapper {
    margin: 0 auto;
    display: grid;

    grid-template-areas: 
    "h h"
    "n c";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;

    border: solid black;
    border-top: solid #ffffff;
    border-width: 3px 3px 5px 5px;
    border-radius:0% 0% 6% 95%/5% 4% 32% 5%;
    padding: 20px;
}
