.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.dialogsItems {

}

.dialogsItem, .message {
    margin-bottom: 10px;
}

.dialogsItem a {
    text-decoration: none;
}

.active {
    color: #ab47bc;
}

.messages {
    padding-left: 50px;
    border-left: solid black;
}